nav {
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px double black;
    border-bottom: 1px double black;
    border-left: 1px double black;
    border-right: 1px double black;
}

.cl{
    color: aqua;
    text-align: center;
}
a {
    margin-left: 90px;
}
body {
    background-image: url("../bgr/3344.jfif");
    background-size: cover;
    border-right: 1px groove gray;
    border-left: 1px groove gray;
    border-top: 1px groove gray;
    border-bottom: 1px groove gray;
}